body {
  /* background-color: rgb(26, 21, 52); */
  background-color: #1f2934;
}

nav.nav {
  padding: 0 2rem;
}

#logo,
#logo:visited {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  display: inline-block;

  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background: linear-gradient(93.23deg, #f778ba 2.35%, #79c0ff 76.99%);
  background-clip: text;
  -webkit-background-clip: text;
}

article.article {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

article.article > div {
  width: 35rem;
}
