<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="dark">
    {{ block "head" . }}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/css/tailwind.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        {{ block "meta_tags" . }}
            {{ if .Params.description }}<meta name="description" content="{{ .Params.description }}" />{{ end }}


            <meta property="og:title" content="{{ .Title }}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ .Permalink }}" />
            {{ if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}" />{{ end }}
            {{ if .Params.description }}<meta property="og:description" content="{{ .Params.description }}" />{{ end }}


            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:title" content="{{ .Title }}" />
            <meta name="twitter:image" content="/images/preview.jpg" />
            {{ if .Description }}
                <meta name="twitter:description" content="{{ .Description }}" />
            {{ end }}
            {{ if .Site.Params.twitter_handle }}
                <meta name="twitter:site" content="{{ .Site.Params.twitter_handle }}" />
            {{ end }}
            {{ if .Site.Params.twitter_handle }}
                <meta name="twitter:creator" content="{{ .Site.Params.twitter_handle }}" />
            {{ end }}
        {{ end }}

        {{ block "jsonld" . }}{{ end }}


        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6532VWBZS"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-M6532VWBZS");
        </script>

        <title>{{ block "title" . }}{{ if .Title }}{{ .Title }} -{{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ end }}


    <body class="px-4 md:px-20 py-5 dark:bg-slate-800 dark:text-amber-50 min-h-screen flex flex-col">
        {{- partial "header.html" . -}}
        <section role="main" class="md:flex md:justify-center flex-1">
            {{- block "main" . }}{{- end }}
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
